PROMPT_HOST_COLOR="{{ prompt_color_host }}"

PROMPT_SEPARATOR_COLOR="0;34"
PROMPT_CHAR='$'

[ "$(whoami)" == "root" ] && PROMPT_SEPARATOR_COLOR="0;31" && PROMPT_CHAR='#'

PS1="\[\e["$PROMPT_SEPARATOR_COLOR"m\][\[\e[0;97m\]\u\[\e["$PROMPT_SEPARATOR_COLOR"m\]@\[\e["$PROMPT_HOST_COLOR"m\]\H \[\e[0;33m\]\w\[\e["$PROMPT_SEPARATOR_COLOR"m\]]\[\e[0;33m\]$PROMPT_CHAR\[\e[0m\] "

unset PROMPT_HOST_COLOR
unset PROMPT_SEPARATOR_COLOR
unset PROMPT_CHAR

